.customCursor {
  position: fixed;
  width: 50px;
  height: 50px;
  background: url("/cursor.svg") no-repeat center center;
  background-size: cover;
  pointer-events: none;
  z-index: 101;
  object-fit: contain;
  background-size: contain;
}
